/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f1e7;
    color: #3e2723;
}

header {
    background-color: #6f4e37;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 40px 20px;
    max-width: 1100px;
    margin: auto;
}

h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 15px;
}

section {
    margin-bottom: 40px;
}

button {
    background-color: #6f4e37;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #4e342e;
}

footer {
    background-color: #3e2723;
    color: white;
    text-align: center;
    padding: 20px;
}
